<header class="header">
    <a href="/" class="header_logo">Cooking_Blog</a>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header_btn">
        <button class="search_btn" aria-expanded="false">Search</button>
    </div>


</header>