<div class="author">
    <h1 class="author_heading">Hi, I am Frankie</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo doloremque non enim sunt iure atque.</p>

</div>

<img src="/img/cook_book.jpg" alt="A cook book" class="hero-img" width="981" height="528">

<section class="articles">
    <h2 class="articles-heading">Latest Post</h2>

    <ul class="articles-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="articles-list-date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt;View Older Posts</a>

</section>